.ticket-box{
    /* background-color:#CDD6D0; */
    height: 80%;
    width: 90%;
    position: absolute; 
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  
    /* align-items: center;
    border-radius: 10px;
    /* padding: 0.5rem; */
    
 

  
    
}

.ticket-box .ticket-list{
    height: 100%;
    width: 90%;
    background-color: rgb(245, 245, 245);
    box-shadow: inset 0 0 10px #3b3b3b0c;

 
    /* display: flex;
    flex-direction: column;
    align-self: center; */
    
}
.ticket-search{
    /* position: relative; */
    width: 60%;
    /* margin: 0 auto; */
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.ticket-loading{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .ticket-list-container{
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 0.5rem;
} */

.ticket-list-item{
    width: 100% !important;
    max-height: 5rem !important;
    background-color: #fff !important;
    margin: 0.5rem 0 !important;
    border-radius: 10px !important;
    cursor: pointer;
}

.ticket-details{
    height: 100%;
    width: 100%;
    margin-left: 1rem;
    background-color: rgb(245, 245, 245);
    box-shadow: inset 0 0 10px #3b3b3b0c;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}




.add-ticket-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: rgba(49, 49, 49, 0.327);
    backdrop-filter: blur(5px);
}
.add-ticket-form{
    font-size: 1.3rem !important;
}

.add-ticket-alert{
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    background-color: orange;
    padding: 5px;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
    border-bottom: 1px solid rgb(0, 0, 0);
}



.ticket-table-header{
    color: #fff !important;
    /* font-weight:300; */
    font-size: 1rem;
  
  
}

.ticket-client-cell{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ticket-client-cell-name{
    font-size: 1rem;
    font-weight: 200;
}
.ticket-client-cell-id{
    font-size: 0.7rem;
    font-weight: 400;
}

.table-head{
    background-color: #262322!important;
    color: #ffffff !important;
}

